
      <br>
      <div class="row">

        <div class="col-md-6 text-center">
          <div class="btn-group">

            <button
            class="btn btn-primary"
              mwl-date-modifier
              date="vm.viewDate"
              decrement="vm.calendarView">
              Previous
            </button>
            <button
              class="btn btn-default"
              mwl-date-modifier
              date="vm.viewDate"
              set-to-today>
              Today
            </button>
            <button
              class="btn btn-primary"
              mwl-date-modifier
              date="vm.viewDate"
              increment="vm.calendarView">
              Next
            </button>
          </div>
        </div>

        <br class="events">

        <div class="col-md-6 text-center">
          <div class="btn-group">
            
            <button class="btn btn-primary" ng-model="vm.calendarView" >Month</button>
            <button class="btn btn-primary" ng-model="vm.calendarView" >Week</button>
            <button class="btn btn-primary" ng-model="vm.calendarView" >Day</button>
          </div>
        </div>

      </div>
      <br>